.footer {
    bottom: -50px;
    position: absolute;
    width: 100%;
    background-color: rgb(86, 90, 84);
    color: white;
    text-align: center;
    height: 30px;
    a {
        color: white;
    }
    
}