.headflex {
    display: flex;
    background-color: rgb(32, 109, 209);
    justify-content: flex-end;
    height: 40px;
    color: white;
}

ul {
    p {
        margin-right: auto;
    }
    color: white;
    li{
        a{
            color: white;
            text-align: center;
            vertical-align: bottom;
        }
    }
}